.paginationData
{
    max-width: 1080px;
    margin: auto;
}
.tableData
{
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
}

table{
    width: 100%;
    border-collapse: collapse;
}

table thead tr{
    background-color: red;
    color: white;
    border-spacing: 10px;
}


